.submit-tweet {
  font-family: 'Bungee', sans-serif;
  background-color: rgb(68, 201, 86);
  color: #FFFFFF;
  border: 0;
}

.underline-hummer {
  border-bottom: solid white;
  width: -webkit-fill-available;
  margin: 0 1.5em;
}

.submit-group {
  display: flex;
  justify-content: space-between;
  margin: 0 1.5em;
}

.counter {
  font-family: 'Bungee', sans-serif;
}

.over-limit, .danger-colour {
  color:#ff1a1a;
  font-family: 'Bungee', sans-serif;
}
section.new-tweet {
  background-color: whitesmoke;
  margin: 30px 0;
}

textarea {
  border: none;
}

.stay-inside-text {
  white-space: normal;
  overflow: hidden;
}

.time {
  border-bottom: purple;
  margin-bottom: 1px;
}

article {
  border-bottom: purple solid 3px;
  margin-bottom: 2px;
}