.site-header {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#site-header h2 {
  display: flex;
  justify-content: center;
}

header#site-header.site-header {
  margin-top: 120px;
}

header#site-header.site-header {
  background-color: #5c4a00;
  background-image: url("https://www.transparenttextures.com/patterns/black-orchid.png");
}