.new-tweet {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.newTweetTop {
  display: flex;
  flex-direction: column;
  border-bottom: 5px solid #5f5c53;
  font-weight: 600;
}
.newTweetTop > textarea {
  height: 40px;
  color: #5f5c53;
  background-color: transparent;
  border: none;
  resize: none;
  outline: none;
}

.newTweetBottom {
  font-family: "Bungee";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.newTweetBottom > button {
  background-color: rgb(204, 137, 49);
  font-size: 1em;
  color: #ffffff;
  border: 0;
  height: 2.5rem;
  width: 7rem;
}

.redText {
  color: red;
}

.errorText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  display: none;
  color: red;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 10px;
}