@media only screen and (min-width: 1024px) {

  article {
    opacity: 0.9;
  }

  article > p {
    font-size: 24px;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 100%;
    flex: 1;
    height: 400px;
    width: 400px;
    margin-top: 125px;
    margin-left: 25px;
    border-radius: 30px 120px 80px;
  }

  header h2 {
    position: relative;
    bottom: 7px;
    left: 9px;
  }

  .tweets {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 66%;
    margin-top: 110px; 
    margin-right: 3vw;
    margin-left: 3vw;
  }

  #wrapper {
    width: 25%;
    height: 25vh;
    position: sticky;
    top: 0px;
    min-width: 455px;
  }

  .new-tweet {
    width: 600px;
  }
}